.products-list-container{
    display: flex;
    justify-content: center;
}

.product-itens {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 235px);
    grid-gap: 5px 10px;
    justify-content: space-between;
}