@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.main {
    position: absolute;
    left: 110px;
    width: 90%;
    height: 100vh;    
}

.filterButtons {
    margin-right: 50px;
    padding-left: 4rem;
    position: fixed;
    font-family: 'Roboto', sans-serif;
}

.btn {  
    background: 0 0;
    transition: .3s;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(255, 81, 0);
    color: rgb(255, 81, 0);
    border-radius: 50%;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0rem;
    outline: none;  
}

.btn:hover {    
    background-color: rgb(255, 81, 0);
    color: white;    
}

