@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.order {
    width: 10%;
    position: absolute;
    bottom: 14.6vh;
    left: -150px;
    font-family: 'Roboto', sans-serif;
}

.cart {
    width: 80px;
}