@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
html,
body {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    background: linear-gradient(135deg, #e90101, #e96a02);
    border-right: solid 4px rgb(133, 3, 3);
    width: 10rem;
    height: 80px;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
   
}

.menu {
    position: absolute;
    left: 10px;
    top: 6px;
    text-align: center;

}

.menu li {
    margin-top: 5rem;
    width: 110px;
    font-size: 24px;
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu ul {
    padding: 0;
}

.menu li:hover{
    background-color: rgb(255, 115, 0);
    animation-delay: 0.4s;
    border-radius: 5px;
    transform: scale(1.1);   
    padding-left: 5px;
    padding-right: 5px;
}